<div class="footer">
  <div fxLayout.lt-md="column" fxLayout="row" fxFill>
    <section class="footer__section-1" fxFlex="50%" fxFlex.lt-md="1 1 auto">
      <div class="footer__section-1__info">
        <p class="footer__section-1__info-title">Let's Connect</p>
        <div class="footer__section-1__info__social">
          <i class="footer__section-1__info__social-icon fab fa-facebook-f"></i>
          <i class="footer__section-1__info__social-icon fab fa-twitter"></i>
          <i class="footer__section-1__info__social-icon fab fa-instagram"></i>
          <i class="footer__section-1__info__social-icon fab fa-youtube"></i>
        </div>
        <p class="footer__section-1__info-title">Contact Details</p>

        <p class="footer__section-1__info-text"><i class="fas fa-map-marker-alt"></i> Location - Proin eget
          tortor
          risus. Curabitur non nulla sit ametnisl.</p>
        <p class="footer__section-1__info-text"><i class="fas fa-phone"></i> 048 600 467 415</p>
        <p class="footer__section-1__info-text"><i class="far fa-envelope"></i> hello@divilover.com</p>
        <p class="footer__section-1__info-bottom">© Ally Child Theme | Designed by Divi Lover | Powered by
          WordPress</p>
      </div>
    </section>

    <section class="footer__section-2" fxFlex="50%" fxFlex.lt-md="1 1 auto">
      <div class="footer__section-2__form" fxLayout="column">
        <p class="footer__section-2__form-title"> Get in Touch</p>
        <input placeholder="YOUR NAME" class="footer__section-2__form-input">
        <input placeholder="YOUR E-MAIL" class="footer__section-2__form-input">
        <textarea placeholder="MESSAGE" class="footer__section-2__form-area" rows="4" cols="50"></textarea>
        <button class="footer__section-2__form-button">SEND US MESSAGE</button>
      </div>
    </section>

  </div>
</div>