<section class="section-1" fxLayout="column" fxLayoutAlign="center center">
  <div class="section-1__square" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="section-1__square-title">Ally</h1>
    <p class="section-1__square-text"> HAS IT ALL</p>
    <i class="section-1__square-arrow fa fa-arrow-down fa-2x" fragmentAnchor="section-2"></i>
  </div>
</section>

<section class="section-2" fxLayout="column" fxLayoutAlign="center center" fragmentTarget="section-2">
  <div class="section-2__container" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="section-2__container-title">Meet Ally</h1>
    <p class="section-2__container-subtitle">DIVI CHILD THEME</p>
    <P class="section-2__container-text">Ally is a multipurpose Divi Child Theme with elegant and modern look.
      It will work great for an any type of business. It is functional,
      includes multiple page layouts and is fully responsive – looks great on every device.
    </P>
    <button class="section-2__container-button">FIND OUT MORE</button>
  </div>
</section>

<section class="section-3" fxLayout="column" fxLayoutAlign="center center">

  <div class="section-3__wrap" fxLayout="row wrap" fxLayoutAlign="center center" fxFill>

    <div class="section-3__wrap__card" fxLayout="column" fxLayoutAlign="center center">
      <div class="section-3__wrap__card__container" fxLayout="column" fxLayoutAlign="center center">
        <div class="section-3__wrap__card__container__circle" fxLayout="column" fxLayoutAlign="center center">
          <i class="section-3__wrap__card__container__circle-icon far fa-check-square"></i>
        </div>
        <p class="section-3__wrap__card__container-title">MULTIPURPOSE</p>
        <p class="section-3__wrap__card__container-text">
          Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
        </p>
      </div>
    </div>

    <div class="section-3__wrap__card" fxLayout="column" fxLayoutAlign="center center">
      <div class="section-3__wrap__card__container" fxLayout="column" fxLayoutAlign="center center">
        <div class="section-3__wrap__card__container__circle" fxLayout="column" fxLayoutAlign="center center">
          <i class="section-3__wrap__card__container__circle-icon fas fa-compress-arrows-alt"></i>
        </div>
        <p class="section-3__wrap__card__container-title">PIXEL-PERFECT</p>
        <p class="section-3__wrap__card__container-text">
          Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
        </p>
      </div>
    </div>

    <div class="section-3__wrap__card" fxLayout="column" fxLayoutAlign="center center">
      <div class="section-3__wrap__card__container" fxLayout="column" fxLayoutAlign="center center">
        <div class="section-3__wrap__card__container__circle" fxLayout="column" fxLayoutAlign="center center">
          <i class="section-3__wrap__card__container__circle-icon far fa-star"></i>
        </div>
        <p class="section-3__wrap__card__container-title">CLEAN & ELEGANT</p>
        <p class="section-3__wrap__card__container-text">
          Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
        </p>
      </div>
    </div>

    <div class="section-3__wrap__card" fxLayout="column" fxLayoutAlign="center center">
      <div class="section-3__wrap__card__container" fxLayout="column" fxLayoutAlign="center center">
        <div class="section-3__wrap__card__container__circle" fxLayout="column" fxLayoutAlign="center center">
          <i class="section-3__wrap__card__container__circle-icon far fa-file-alt"></i>
        </div>
        <p class="section-3__wrap__card__container-title">MULTIPLE PAGE LAYOUTS</p>
        <p class="section-3__wrap__card__container-text">
          Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
        </p>
      </div>
    </div>

    <div class="section-3__wrap__card" fxLayout="column" fxLayoutAlign="center center">
      <div class="section-3__wrap__card__container" fxLayout="column" fxLayoutAlign="center center">
        <div class="section-3__wrap__card__container__circle" fxLayout="column" fxLayoutAlign="center center">
          <i class="section-3__wrap__card__container__circle-icon fas fa-mouse-pointer"></i>
        </div>
        <p class="section-3__wrap__card__container-title">EASY TO CUSTOMIZE</p>
        <p class="section-3__wrap__card__container-text">
          Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
        </p>
      </div>
    </div>

    <div class="section-3__wrap__card" fxLayout="column" fxLayoutAlign="center center">
      <div class="section-3__wrap__card__container" fxLayout="column" fxLayoutAlign="center center">
        <div class="section-3__wrap__card__container__circle" fxLayout="column" fxLayoutAlign="center center">
          <i class="section-3__wrap__card__container__circle-icon fas fa-camera-retro"></i>
        </div>
        <p class="section-3__wrap__card__container-title">ALL IMAGES INCLUDED</p>
        <p class="section-3__wrap__card__container-text">
          Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
        </p>
      </div>
    </div>

  </div>

</section>

<section class="section-4">
  <div fxLayout.lt-md="column" fxLayout="row" fxFill>
    <div class="section-4__img" ngClass.xs="section-4__img-xs" fxFlex="50%" fxFlex.lt-md="1 1 auto">

    </div>
    <div class="section-4__info" fxFlex="50%" fxFlex.lt-md="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
      <div class="section-4__info__container">
        <h1 class="section-4__info__container-title">A Few Words</h1>
        <p class="section-4__info__container-text">Ally will allow you to quickly get a website up and
          running with
          minimal effort.
          The one-click importer will help you set it up in no time. After that,
          you can easily make it your own, by choosing the colors in Theme Customizer.
        </p>
        <button class="section-4__info__container-button">READ MORE</button>
      </div>
    </div>
  </div>
</section>

<section class="section-5" fxLayout="column" fxLayoutAlign="center center">
  <div class="section-5__wrap" fxLayout="row wrap" fxLayoutAlign="center center" fxFill>
    <div class="section-5__wrap__container" fxLayout="column" fxLayoutAlign="center center">
      <span class="counter section-5__wrap__container-number">13</span>
      <p class="section-5__wrap__container-text">YEARS IN BUSINESS</p>
    </div>

    <div class="section-5__wrap__container" fxLayout="column" fxLayoutAlign="center center">
      <span class="counter section-5__wrap__container-number">540</span>
      <p class="section-5__wrap__container-text">PROJECTS DONE</p>
    </div>

    <div class="section-5__wrap__container" fxLayout="column" fxLayoutAlign="center center">
      <span class="counter section-5__wrap__container-number">29</span>
      <p class="section-5__wrap__container-text">AWARDS WON</p>
    </div>

    <div class="section-5__wrap__container" fxLayout="column" fxLayoutAlign="center center">
      <span class="counter section-5__wrap__container-number">100 <span style="font-size: 3rem">%</span></span>
      <p class="section-5__wrap__container-text">HAPPY CLIENTS</p>
    </div>
  </div>
</section>

<section class="section-6" fxLayout="column" fxLayoutAlign="start center">
  <h1 class="section-6__title">Services</h1>

  <div class="section-6__wrap" fxLayout="row wrap" fxLayoutAlign="center center">

    <div class="section-6__wrap__card" fxLayout="column" fxLayoutAlign="center center">
      <div class="section-6__wrap__card__container" fxLayout="column" fxLayoutAlign="start center">
        <i class="section-6__wrap__card__container-icon fas fa-camera"></i>
        <p class="section-6__wrap__card__container-title">PHOTOGRAPHY</p>
        <p class="section-6__wrap__card__container-text">Quisque velit nisi, pretium ut lacinia in,
          elementum id enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
          cubilia
          Curae; Donec velit neque,
          auctor sit amet aliquam vel, ullamcorper sit amet ligula.
        </p>
      </div>
    </div>

    <div class="section-6__wrap__card" fxLayout="column" fxLayoutAlign="center center">
      <div class="section-6__wrap__card__container" fxLayout="column" fxLayoutAlign="start center">
        <i class="section-6__wrap__card__container-icon fas fa-pencil-alt"></i>
        <p class="section-6__wrap__card__container-title">DESIGN</p>
        <p class="section-6__wrap__card__container-text">Quisque velit nisi, pretium ut lacinia in,
          elementum id enim.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        </p>
      </div>
    </div>

    <div class="section-6__wrap__card" fxLayout="column" fxLayoutAlign="center center">
      <div class="section-6__wrap__card__container" fxLayout="column" fxLayoutAlign="start center">
        <i class="section-6__wrap__card__container-icon far fa-lightbulb"></i>
        <p class="section-6__wrap__card__container-title">PLANNING</p>
        <p class="section-6__wrap__card__container-text">Quisque velit nisi, pretium ut lacinia in,
          elementum id
          enim.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          Quisque velit nisi, pretium ut lacinia in, elementum id enim.
        </p>
      </div>
    </div>
  </div>

</section>

<section class="section-7" fxLayout="column" fxLayoutAlign="start center">
  <h1 class="section-7__title">Features</h1>
  <div fxLayout.lt-md="column" fxLayout="row" fxFill>
    <div class="section-7__container-1" ngClass.lt-md="section-7__container-1-md" fxLayout="column" fxFlex fxFlex.lt-md="1 1 auto">

      <div class="section-7__container-1__content" fxLayout="row">
        <div class="section-7__container-1__content__info" ngClass.lt-md="section-7__container-1__content__info-md">
          <p class="section-7__container-1__content__info-title" ngClass.lt-md="section-7__container-1__content__info-title-md">THIS
            IS GREAT</p>
          <p class="section-7__container-1__content__info-text">
            Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
          </p>
        </div>
        <div class="section-7__container-1__content-check" fxLayout="column" fxLayoutAlign="center center">
          <i class="fas fa-check fa-md"></i>
        </div>
      </div>

      <div class="section-7__container-1__content" fxLayout="row">
        <div class="section-7__container-1__content__info" ngClass.lt-md="section-7__container-1__content__info-md">
          <p class="section-7__container-1__content__info-title" ngClass.lt-md="section-7__container-1__content__info-title-md">THIS
            IS GREAT</p>
          <p class="section-7__container-1__content__info-text">
            Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
          </p>
        </div>
        <div class="section-7__container-1__content-check" fxLayout="column" fxLayoutAlign="center center">
          <i class="fas fa-check fa-md"></i>
        </div>
      </div>

      <div class="section-7__container-1__content" fxLayout="row">
        <div class="section-7__container-1__content__info" ngClass.lt-md="section-7__container-1__content__info-md">
          <p class="section-7__container-1__content__info-title" ngClass.lt-md="section-7__container-1__content__info-title-md">THIS
            IS GREAT</p>
          <p class="section-7__container-1__content__info-text">
            Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
          </p>
        </div>
        <div class="section-7__container-1__content-check" fxLayout="column" fxLayoutAlign="center center">
          <i class="fas fa-check fa-md"></i>
        </div>
      </div>
    </div>

    <div class="section-7__container-2" fxFlex fxFlex.lt-md="1 1 auto">
      <div class="section-7__container-2__img" fxLayout="column" fxLayoutAlign="center center">
        <div class="section-7__container-2__img__square" fxLayoutAlign="center center">
          <h1 class="section-7__container-2__img__square-title">Ally</h1>
          <p class="section-7__container-2__img__square-text"> HAS IT ALL</p>
          <i class="section-7__container-2__img__square-arrow fa fa-arrow-down fa-2x"></i>
        </div>
      </div>

    </div>

    <div class="section-7__container-3" ngClass.lt-md="section-7__container-3-md" fxFlex fxFlex.lt-md="1 1 auto"
      fxLayout="column">
      <div class="section-7__container-3__content" fxLayout="row">
        <div class="section-7__container-3__content-check" fxLayout="column" fxLayoutAlign="center center">
          <i class="fas fa-check fa-md"></i>
        </div>
        <div class="section-7__container-3__content__info">
          <p class="section-7__container-3__content__info-title">THIS IS GREAT</p>
          <p class="section-7__container-3__content__info-text">
            Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
          </p>
        </div>
      </div>

      <div class="section-7__container-3__content" fxLayout="row">
        <div class="section-7__container-3__content-check" fxLayout="column" fxLayoutAlign="center center">
          <i class="fas fa-check fa-md"></i>
        </div>
        <div class="section-7__container-3__content__info">
          <p class="section-7__container-3__content__info-title">THIS IS GREAT</p>
          <p class="section-7__container-3__content__info-text">
            Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
          </p>
        </div>
      </div>

      <div class="section-7__container-3__content" fxLayout="row">
        <div class="section-7__container-3__content-check" fxLayout="column" fxLayoutAlign="center center">
          <i class="fas fa-check fa-md"></i>
        </div>
        <div class="section-7__container-3__content__info">
          <p class="section-7__container-3__content__info-title">THIS IS GREAT</p>
          <p class="section-7__container-3__content__info-text">
            Curabitur non ntulla sit amet nisl tempus convallis quis ac lectus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer></footer>